*{
    box-sizing: border-box;
}
body{
    background: green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
}
label{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 15px 20px;
    background: none;
    color: white;
    outline: none;
    border: 1px solid white;
}