*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2793c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    margin: 30px auto;
    width: 350px;
}
h3 {
    color: white;
    align-items: center;
    margin: 10px;
}
input[type="text"]{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.btn{
    background-color: rgb(197, 221, 38);
    cursor: pointer;
    color: #0c0a0a;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}