*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #c08f8f;
    display:flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}
.serch{
    position: relative;
    height: 50px;
}
.serch .input{
    background: white;
    font-size: 18px;
    padding: 15px;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.btn {
    background: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.btn:focus,
.input.focus{
    outline: none;
}
.serch.active .input{
    width: 250px;
}
.serch.active .btn{
    transform: translateX(198px);
    
}